.signup{
  height: calc(100vh - 90px);
  position: relative;
  background-color: var(--bg_color);
}
.form-container {
  max-width: 600px;

  padding: 20px;
  text-align: center;
  height: 500px !important;
  margin-bottom: 50px;
}

.signup h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: var(--text_color);
}

.signup h1 span {
  color: var(--main_color);
}

.signup img {
  width: 140px;
}
.signup img.one {
  position: absolute;
  right: 0;
}

.signup img.two {
  position: absolute;
  bottom: 0;
  right: 0;
}

.form-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.btn-sign-up {
  width: 100%;
  padding: 10px;
  background: #f0b429;
  border: none;
  border-radius: 12px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.btn-sign-up:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn-sign-up:hover {
  background: #d99a1f;
}

.signup .input_group {
  position: relative;
  margin-bottom: 15px;
}

.signup .input_group input {
  width: 100%;
  padding: 12px 15px;
  border-radius: 12px;
  border: none;
  background: var(--bg_color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: 0.5s;
  border: 1px solid var(--text_color);
  color: var(--text_color);
}
.signup .input_group input::placeholder{
  color: var(--text_color);
}
.signup .input_group .eye {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.signup .input_group input:focus {
box-shadow: 0 0 0 3px var(--main_color);
  border: 1px solid var(--main_color);
}
.signup .input_group label {
  position: absolute;
  top: -10px;
  left: 20px;
  font-size: 13px;
  color: var(--text_color);
  margin-bottom: 5px;
  display: inline-block;
  padding: 0 5px;
  background-color: var(--bg_color);
}
.signup .input_group #profileImage{
  color: var(--text_color);
}

/* responsive */

@media (max-width: 767px) {
  .signup img {
    display: none;
  }

  .signup h1 {
    font-size: 20px;
  }
  .form-row {
    grid-template-columns: repeat(1, 1fr);
  }
  .form-container {
    height: 100%;
  }
}
