.forget_password ,
.reset_password{
  min-height: calc(100vh - 90px);
    position: relative;
  background: var(--bg_color);
    padding-top: 8rem;
    padding-bottom: 3rem;

}
.forget_password .one
,.reset_password .one{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 140px;
    width: 100%;

}
.forget_password .container ,
.reset_password .container {
    margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forget_password .all_content,
.reset_password .all_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.forget_password  .form,
.reset_password  .form{
    width: 400px;
    margin-right: 30px;
}
.forget_password  .form .content h2,
.reset_password  .form .content h2{
    color: var(--text_color);
    margin-bottom: 15px;
    font-size: 25px;
}
.forget_password  .form .content p,
.reset_password  .form .content p{
    font-size: 15px;
    margin-bottom: 30px;
}

.forget_password .input_group ,
.reset_password .input_group {
  position: relative;
  margin-bottom: 15px;
}

.forget_password input ,
.reset_password input {
  width: 100%;
  padding: 12px 15px;
  border-radius: 12px;
  border: none;
  background: var(--bg_color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: 0.5s;
  border: 1px solid var(--secondary_color);
    color: var(--text_color);

}
.forget_password .input_group input:focus ,
.reset_password .input_group input:focus {
 box-shadow: 0 0 0 3px var(--main_color);
  border: 1px solid var(--main_color);
}
.forget_password label ,
.reset_password label {
  position: absolute;
  top: -5px;
  left: 20px;
  font-size: 13px;
  color: var(--text_color);
  margin-bottom: 5px;
  display: inline-block;
  padding: 0 5px;
  background-color: var(--bg_color);
}
.forget_password input::placeholder,
.reset_password input::placeholder{
  color: var(--text_color);
}

.reset_password button ,
.forget_password button {
  width: 100%;
  padding: 10px;
  background: #f0b429;
  border: none;
  border-radius: 12px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.reset_password button:disabled ,
.forget_password button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.forget_password button:hover ,
.reset_password button:hover {
  background: #d99a1f;
}


.forget_password img,
.reset_password img{
    width: 350px;
} 